#root {
  padding: 2rem;
  text-align: left;
  width: 100%;
}

.kanban-board {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-column-button {
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  font-size: var(--text-base);
  color: var(--text-primary);
  transition: background-color var(--transition-fast);
}

.add-column-button:hover {
  background-color: var(--secondary-hover);
}

@media (min-width: 768px) {
  .kanban-board {
    flex-direction: row;
    padding-bottom: 20px; /* Add space for scrollbar */
  }

  .kanban-board::after {
    content: "";
    min-width: 20px; /* This creates space after the last column */
    flex-shrink: 0;
  }
  .add-column-button {
    width: 250px;
    flex-shrink: 0; /* Prevent the button from shrinking */
  }
}
